* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
}

button {
    padding: 2px 5px;
    background-color: #d6d5d5;
    font-weight: bolder;
    border: 1px solid #000;
    cursor: pointer;
}

.input_items {
    margin-bottom: 2rem;
}

#user_input {
    padding: 1px 5px;

}

.list ol {
}

.list li {
    margin-bottom: 0.5rem;
}